@media only screen and (max-width: 1000px) {
    .coaches{
        width: 35%;
    }
    .contact{
        width: 97%;
        margin: 12px;
    }
}
@media only screen and (max-width: 750px) {
    .trainers{
        button{
            width: 40%;
        }
    }
    .coaches{
        width: 60%;
    }
}
@media only screen and (max-width: 550px) {
    .trainers{
        button{
            width: 40%;
        }
    }
    .coaches{
        width: 62%;
    }
    .contact{
        .info{
            width: 70%;
        }
    }
}